In [4]:
import pandas as pd
import glob
import os

cleaning_path = "/home/tdraths/sb_assignments/Transfers_Capstone/data/data_cleaning_outputs"
os.chdir(cleaning_path)
english = pd.read_csv('english_output.csv')
english.head()

,Unnamed: 0,Unnamed: 0.1,season,date,league_id,league,team1,team1_short,team2,team2_short,spi1,spi2
0,0,2992,2017,2017-08-04,2412,English League Championship,Sunderland,SUN,Derby County,DER,50.39,40.83
1,1,2994,2017,2017-08-04,2412,English League Championship,Nottingham Forest,NOT,Millwall,MIL,35.55,28.23
2,2,3004,2017,2017-08-05,2412,English League Championship,Sheffield United,SHU,Brentford,BRE,27.72,39.70
3,3,3005,2017,2017-08-05,2412,English League Championship,Queens Park Rangers,QPR,Reading,REA,36.33,34.90
4,4,3006,2017,2017-08-05,2412,English League Championship,Fulham,FUL,Norwich City,NOR,43.00,42.60

In [5]:
english.team1.value_counts()

Middlesbrough               112
Swansea City                108
Stoke City                  107
West Bromwich Albion        104
AFC Bournemouth              99
Watford                      99
Burnley                      95
Manchester City              95
Liverpool                    95
Southampton                  95
Manchester United            95
Leicester City               95
Crystal Palace               95
Everton                      95
Arsenal                      95
West Ham United              95
Chelsea                      95
Tottenham Hotspur            95
Derby County                 94
Brentford                    94
Reading                      92
Bristol City                 92
Birmingham                   92
Sheffield Wednesday          92
Preston North End            92
Millwall                     92
Queens Park Rangers          92
Nottingham Forest            92
Leeds United                 89
Cardiff City                 89
Aston Villa                  88
Norwich City                 88
Hull City                    88
Fulham                       86
Sheffield United             84
Huddersfield Town            84
Wolverhampton                80
Brighton and Hove Albion     76
Newcastle                    76
Barnsley                     69
Blackburn                    69
Luton Town                   46
Wigan                        46
Ipswich Town                 46
Bolton                       46
Rotherham United             46
Sunderland                   42
Charlton Athletic            23
Burton Albion                23
Wycombe Wanderers            23
Coventry City                23
Name: team1, dtype: int64

In [6]:
names_short = {'Middlesbrough': 'MID', 'Swansea City': 'SWA', 'Stoke City': 'STO',
               'West Bromwich Albion': 'WBA', 'AFC Bournemouth': 'BOU', 'Watford': 'WAT',
               'Tottenham Hotspur':'TOT', 'Burnley': 'BUR', 'Manchester United': 'MNU',
               'Liverpool': 'LIV', 'Leicester City': 'LEI','Arsenal':'ARS','Crystal Palace': 'CRY',
               'Manchester City': 'MNC', 'West Ham United': 'WHU', 'Everton': 'EVE', 'Southampton': 'SOU',
               'Chelsea': 'CHE', 'Derby County': 'DER', 'Brentford': 'BRE', 'Birmingham': 'BRM', 
               'Bristol City': 'BRS', 'Queens Park Rangers': 'QPR', 'Preston North End':'PRE', 
               'Nottingham Forest': 'NOT', 'Millwall': 'MIL', 'Sheffield Wednesday': 'SHW', 'Reading': 'REA',
               'Leeds United': 'LEE', 'Cardiff City': 'CAR', 'Hull City': 'HUL', 'Aston Villa': 'AST', 
               'Norwich City': 'NOR', 'Fulham': 'FUL', 'Huddersfield Town': 'HUD', 'Sheffield United': 'SHU',
               'Wolverhampton': 'WLV', 'Newcastle': 'NEW', 'Brighton and Hove Albion': 'BHU',
               'Blackburn': 'BLA', 'Barnsley': 'BAR', 'Ipswich Town': 'IPS', 'Wigan': 'WIG', 
               'Rotherham United': 'ROT', 'Bolton': 'BOL', 'Luton Town': 'LUT', 'Sunderland': 'SUN', 
               'Burton Albion': 'BRT', 'Charlton Athletic': 'CHA', 'Coventry City': 'COV', 
               'Wycombe Wanderers': 'WYC'}

In [7]:
english['team1_short'] = english['team1'].replace(names_short)

In [8]:
english['team2_short'] = english['team2'].replace(names_short)

In [9]:
english.head()

,Unnamed: 0,Unnamed: 0.1,season,date,league_id,league,team1,team1_short,team2,team2_short,spi1,spi2
0,0,2992,2017,2017-08-04,2412,English League Championship,Sunderland,SUN,Derby County,DER,50.39,40.83
1,1,2994,2017,2017-08-04,2412,English League Championship,Nottingham Forest,NOT,Millwall,MIL,35.55,28.23
2,2,3004,2017,2017-08-05,2412,English League Championship,Sheffield United,SHU,Brentford,BRE,27.72,39.70
3,3,3005,2017,2017-08-05,2412,English League Championship,Queens Park Rangers,QPR,Reading,REA,36.33,34.90
4,4,3006,2017,2017-08-05,2412,English League Championship,Fulham,FUL,Norwich City,NOR,43.00,42.60

In [10]:
cols = ['Unnamed: 0', 'season', 'date', 'league_id', 'league', 'team1', 'team1_short', 'team2', 'team2_short', 'spi1', 'spi2']
english = english[cols]
english.head()

,Unnamed: 0,season,date,league_id,league,team1,team1_short,team2,team2_short,spi1,spi2
0,0,2017,2017-08-04,2412,English League Championship,Sunderland,SUN,Derby County,DER,50.39,40.83
1,1,2017,2017-08-04,2412,English League Championship,Nottingham Forest,NOT,Millwall,MIL,35.55,28.23
2,2,2017,2017-08-05,2412,English League Championship,Sheffield United,SHU,Brentford,BRE,27.72,39.70
3,3,2017,2017-08-05,2412,English League Championship,Queens Park Rangers,QPR,Reading,REA,36.33,34.90
4,4,2017,2017-08-05,2412,English League Championship,Fulham,FUL,Norwich City,NOR,43.00,42.60

In [11]:
english.to_csv("/home/tdraths/sb_assignments/Transfers_Capstone/data/data_cleaning_outputs/english_output.csv")

In [12]:
os.listdir()
os.chdir(cleaning_path)
os.listdir()

['english_championship_2019_output.csv',
 'elc_spi_output.csv',
 'english_championship_2018_output.csv',
 'english_championship_2017_output.csv',
 'english_championship_2016_output.csv',
 'english_output.csv',
 'all_transfers.csv']

In [13]:
all_transfers = pd.read_csv('all_transfers.csv')
all_transfers.head()

,Unnamed: 0,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,0,Arsenal FC,Thomas,27,Defensive Midfield,Atlético Madrid,£45.00m,in,Summer,45.0,Premier League,2020,2020/2021
1,1,Arsenal FC,Gabriel,22,Centre-Back,LOSC Lille,£23.40m,in,Summer,23.4,Premier League,2020,2020/2021
2,2,Arsenal FC,Pablo Marí,26,Centre-Back,Flamengo,£7.20m,in,Summer,7.2,Premier League,2020,2020/2021
3,3,Arsenal FC,Rúnar Alex Rúnarsson,25,Goalkeeper,Dijon,£1.80m,in,Summer,1.8,Premier League,2020,2020/2021
4,4,Arsenal FC,Cédric Soares,28,Right-Back,Southampton,Free transfer,in,Summer,0.0,Premier League,2020,2020/2021

In [14]:
all_transfers.club_name.value_counts()

Nottingham Forest          588
Chelsea FC                 566
Wolverhampton Wanderers    564
Manchester City            492
Birmingham City            490
Reading FC                 488
Watford FC                 484
Brighton & Hove Albion     482
Norwich City               468
Leeds United               466
Bristol City               462
Aston Villa                424
Fulham FC                  422
Cardiff City               410
Queens Park Rangers        404
Barnsley FC                404
Huddersfield Town          398
Everton FC                 396
Swansea City               396
Newcastle United           392
Middlesbrough FC           368
Derby County               366
Wigan Athletic             362
Sheffield United           344
Stoke City                 334
Preston North End          334
Hull City                  332
AFC Bournemouth            322
West Ham United            320
Sheffield Wednesday        306
Crystal Palace             296
Brentford FC               294
Southampton FC             290
Leicester City             286
Liverpool FC               282
Arsenal FC                 282
West Bromwich Albion       276
Burnley FC                 274
Millwall FC                272
Ipswich Town               260
Rotherham United           248
Blackburn Rovers           244
Manchester United          230
Burton Albion              216
Tottenham Hotspur          196
Sunderland AFC             186
Bolton Wanderers           176
Luton Town                 110
Charlton Athletic           90
Coventry City               62
Wycombe Wanderers           40
Name: club_name, dtype: int64

In [15]:
new_names = {
    'Nottingham Forest': 'NOT', 'Chelsea FC': 'CHE', 'Wolverhampton Wanderers': 'WLV', 'Manchester City': 'MNC', 'Birmingham City': 'BRM',
    'Reading FC': 'REA', 'Watford FC': 'WAT', 'Brighton & Hove Albion': 'BHA', 'Norwich City': 'NOR', 'Leeds United': 'LEE',
    'Bristol City': 'BRS', 'Aston Villa': 'AST', 'Fulham FC': 'FUL', 'Cardiff City': 'CAR', 'Queens Park Rangers': 'QPR', 'Barnsley FC': 'BAR',
    'Huddersfield Town': 'HUD', 'Everton FC': 'EVE', 'Swansea City': 'SWA', 'Newcastle United': 'NEW', 'Middlesbrough FC': 'MID', 
    'Derby County': 'DER', 'Wigan Athletic': 'WIG', 'Sheffield United': 'SHU', 'Stoke City': 'STO', 'Preston North End': 'PRE', 
    'Hull City': 'HUL', 'AFC Bournemouth': 'BOU', 'West Ham United': 'WHU', 'Sheffield Wednesday': 'SHW', 'Crystal Palace': 'CRY', 
    'Brentford FC': 'BRE', 'Southampton FC': 'SOU', 'Leicester City': 'LEI', 'Liverpool FC': 'LIV', 'Arsenal FC': 'ARS', 
    'West Bromwich Albion': 'WBA', 'Burnley FC': 'BUR', 'Millwall FC': 'MIL', 'Ipswich Town': 'IPS', 'Rotherham United': 'ROT', 
    'Blackburn Rovers': 'BLA', 'Manchester United': 'MNU', 'Burton Albion': 'BRT', 'Tottenham Hotspur': 'TOT', 'Sunderland AFC': 'SUN', 
    'Bolton Wanderers': 'BOL', 'Luton Town': 'LUT', 'Charlton Athletic': 'CHA', 'Coventry City': 'COV', 'Wycombe Wanderers': 'WYC'
}

In [16]:
all_transfers['team_short'] = all_transfers['club_name'].replace(new_names)
all_transfers.team_short.value_counts()

NOT    588
CHE    566
WLV    564
MNC    492
BRM    490
REA    488
WAT    484
BHA    482
NOR    468
LEE    466
BRS    462
AST    424
FUL    422
CAR    410
QPR    404
BAR    404
HUD    398
SWA    396
EVE    396
NEW    392
MID    368
DER    366
WIG    362
SHU    344
STO    334
PRE    334
HUL    332
BOU    322
WHU    320
SHW    306
CRY    296
BRE    294
SOU    290
LEI    286
ARS    282
LIV    282
WBA    276
BUR    274
MIL    272
IPS    260
ROT    248
BLA    244
MNU    230
BRT    216
TOT    196
SUN    186
BOL    176
LUT    110
CHA     90
COV     62
WYC     40
Name: team_short, dtype: int64

In [20]:
all_transfers.head()

,Unnamed: 0,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season,team_short
0,0,Arsenal FC,Thomas,27,Defensive Midfield,Atlético Madrid,£45.00m,in,Summer,45.0,Premier League,2020,2020/2021,ARS
1,1,Arsenal FC,Gabriel,22,Centre-Back,LOSC Lille,£23.40m,in,Summer,23.4,Premier League,2020,2020/2021,ARS
2,2,Arsenal FC,Pablo Marí,26,Centre-Back,Flamengo,£7.20m,in,Summer,7.2,Premier League,2020,2020/2021,ARS
3,3,Arsenal FC,Rúnar Alex Rúnarsson,25,Goalkeeper,Dijon,£1.80m,in,Summer,1.8,Premier League,2020,2020/2021,ARS
4,4,Arsenal FC,Cédric Soares,28,Right-Back,Southampton,Free transfer,in,Summer,0.0,Premier League,2020,2020/2021,ARS

In [22]:
cols = ['Unnamed: 0', 'club_name', 'team_short', 'player_name', 'age', 'position', 'club_involved_name', 'fee', 'transfer_movement', 'transfer_period', 'fee_cleaned', 'league_name', 'year', 'season']

all_transfers = all_transfers[cols]
all_transfers.head()

,Unnamed: 0,club_name,team_short,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,0,Arsenal FC,ARS,Thomas,27,Defensive Midfield,Atlético Madrid,£45.00m,in,Summer,45.0,Premier League,2020,2020/2021
1,1,Arsenal FC,ARS,Gabriel,22,Centre-Back,LOSC Lille,£23.40m,in,Summer,23.4,Premier League,2020,2020/2021
2,2,Arsenal FC,ARS,Pablo Marí,26,Centre-Back,Flamengo,£7.20m,in,Summer,7.2,Premier League,2020,2020/2021
3,3,Arsenal FC,ARS,Rúnar Alex Rúnarsson,25,Goalkeeper,Dijon,£1.80m,in,Summer,1.8,Premier League,2020,2020/2021
4,4,Arsenal FC,ARS,Cédric Soares,28,Right-Back,Southampton,Free transfer,in,Summer,0.0,Premier League,2020,2020/2021

In [23]:
all_transfers.to_csv("/home/tdraths/sb_assignments/Transfers_Capstone/data/data_cleaning_outputs/all_transfers.csv")