## Transfers Capstone - Data Wrangling

### Data Collection: 2016 - 2020 Transfers Data
Data sourced from: https://github.com/ewenme/transfers

### I. Setting up DataFrame

In [1]:
# Load packages and combine various seasons dataframes for PL and Championship into one DataFrame "df"
import pandas as pd
import glob
import os

os.chdir("data/original_data_sources/season_data")
extension = 'csv'
files = [i for i in glob.glob('*.{}'.format(extension))]

combined_data = pd.concat([pd.read_csv(f) for f in files])

combined_data.to_csv("combined_seasons_data.csv", index=False)

In [2]:
df = pd.read_csv('combined_seasons_data.csv')

### II. Examining the Data

In [3]:
# Quick look at a small segment of the dataframe
df.head()

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
0,Arsenal FC,Thomas,27,Defensive Midfield,Atlético Madrid,£45.00m,in,Summer,45.0,Premier League,2020,2020/2021
1,Arsenal FC,Gabriel,22,Centre-Back,LOSC Lille,£23.40m,in,Summer,23.4,Premier League,2020,2020/2021
2,Arsenal FC,Pablo Marí,26,Centre-Back,Flamengo,£7.20m,in,Summer,7.2,Premier League,2020,2020/2021
3,Arsenal FC,Rúnar Alex Rúnarsson,25,Goalkeeper,Dijon,£1.80m,in,Summer,1.8,Premier League,2020,2020/2021
4,Arsenal FC,Cédric Soares,28,Right-Back,Southampton,Free transfer,in,Summer,0.0,Premier League,2020,2020/2021

In [4]:
df.columns
# I'll keep all of these columns intact, as I think they'll be useful later

Index(['club_name', 'player_name', 'age', 'position', 'club_involved_name',
       'fee', 'transfer_movement', 'transfer_period', 'fee_cleaned',
       'league_name', 'year', 'season'],
      dtype='object')

In [5]:
df.dtypes
# 'Fee' is a feature with object types, 'fee_cleaned' contains float types.
# I will use 'fee_cleaned' for the best look at the amounts per transfer

club_name              object
player_name            object
age                     int64
position               object
club_involved_name     object
fee                    object
transfer_movement      object
transfer_period        object
fee_cleaned           float64
league_name            object
year                    int64
season                 object
dtype: object

In [6]:
df.info()
# 'fee_cleaned' has some null values in it I'll deal with later.
# 'transfer_period' looks like it might only be available for one of the two leagues, or for fewer seasons
# Not sure yet how to deal with 'transfer_period', might fill blanks with "unknown" so that I can still use column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17194 entries, 0 to 17193
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   club_name           17194 non-null  object
 1   player_name         17194 non-null  object
 2   age                 17194 non-null  int64
 3   position            17194 non-null  object
 4   club_involved_name  17194 non-null  object
 5   fee                 17194 non-null  object
 6   transfer_movement   17194 non-null  object
 7   transfer_period     2400 non-null   object
 8   fee_cleaned         15768 non-null  float64
 9   league_name         17194 non-null  object
 10  year                17194 non-null  int64
 11  season              17194 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 1.6+ MB

In [7]:
df.shape

(17194, 12)

In [8]:
df.nunique()

club_name               51
player_name           2698
age                     27
position                16
club_involved_name     803
fee                    718
transfer_movement        2
transfer_period          2
fee_cleaned            367
league_name              2
year                     5
season                   5
dtype: int64

In [9]:
# Looking at number of records per club
df.club_name.value_counts()

Nottingham Forest          588
Chelsea FC                 566
Wolverhampton Wanderers    564
Manchester City            492
Birmingham City            490
Reading FC                 488
Watford FC                 484
Brighton & Hove Albion     482
Norwich City               468
Leeds United               466
Bristol City               462
Aston Villa                424
Fulham FC                  422
Cardiff City               410
Barnsley FC                404
Queens Park Rangers        404
Huddersfield Town          398
Everton FC                 396
Swansea City               396
Newcastle United           392
Middlesbrough FC           368
Derby County               366
Wigan Athletic             362
Sheffield United           344
Preston North End          334
Stoke City                 334
Hull City                  332
AFC Bournemouth            322
West Ham United            320
Sheffield Wednesday        306
Crystal Palace             296
Brentford FC               294
Southampton FC             290
Leicester City             286
Liverpool FC               282
Arsenal FC                 282
West Bromwich Albion       276
Burnley FC                 274
Millwall FC                272
Ipswich Town               260
Rotherham United           248
Blackburn Rovers           244
Manchester United          230
Burton Albion              216
Tottenham Hotspur          196
Sunderland AFC             186
Bolton Wanderers           176
Luton Town                 110
Charlton Athletic           90
Coventry City               62
Wycombe Wanderers           40
Name: club_name, dtype: int64

In [10]:
df.agg([min, max]).T
# A better look at the difference between 'fee' and 'fee_cleaned'
# 'fee_cleaned' is a float type, with 1.0 = £1mil.

                                   min                max
club_name              AFC Bournemouth  Wycombe Wanderers
player_name                 Aapo Halme       Örjan Nyland
age                                 16                 43
position            Attacking Midfield     Second Striker
club_involved_name          1. FC Köln          Östersund
fee                                  -              £990k
transfer_movement                   in                out
fee_cleaned                          0              130.5
league_name               Championship     Premier League
year                              2016               2020
season                       2016/2017          2020/2021

In [11]:
# From .info, I'll need to deal with 'fee_cleaned' and 'transfer_period'
df.fee_cleaned.fillna(0, inplace=True)
df.transfer_period.fillna('Unknown', inplace=True)

In [12]:
# Checking for duplicate rows
duplicateRowsDF = df[df.duplicated()]
duplicateRowsDF

,club_name,player_name,age,position,club_involved_name,fee,transfer_movement,transfer_period,fee_cleaned,league_name,year,season
3801,Swansea City,Marvin Emnes,28,Centre-Forward,Blackburn,Loan,out,Unknown,0.0,Premier League,2016,2016/2017
5395,Derby County,Max Lowe,21,Left-Back,Aberdeen FC,Loan,out,Unknown,0.0,Championship,2018,2018/2019
5908,Nottingham Forest,Zach Clough,23,Second Striker,Rochdale,Loan,out,Unknown,0.0,Championship,2018,2018/2019
6719,Preston North End,Eoin Doyle,29,Centre-Forward,Oldham Athletic,Loan,out,Unknown,0.0,Championship,2017,2017/2018
7035,Bristol City,Max O'Leary,21,Goalkeeper,Solihull Moors,Loan,out,Unknown,0.0,Championship,2017,2017/2018
...,...,...,...,...,...,...,...,...,...,...,...,...
17189,Barnsley FC,Samy Morsy,25,Central Midfield,Wigan,"End of loanJan 3, 2017",out,Unknown,0.0,Championship,2016,2016/2017
17190,Barnsley FC,Ryan Kent,20,Left Winger,Liverpool U23,"End of loanMay 31, 2017",out,Unknown,0.0,Championship,2016,2016/2017
17191,Barnsley FC,Matty James,25,Central Midfield,Leicester,"End of loanMay 31, 2017",out,Unknown,0.0,Championship,2016,2016/2017
17192,Barnsley FC,Gethin Jones,21,Right-Back,Everton U23,"End of loanMay 31, 2017",out,Unknown,0.0,Championship,2016,2016/2017
17193,Barnsley FC,Adam Armstrong,20,Centre-Forward,Newcastle,"End of loanMay 31, 2017",out,Unknown,0.0,Championship,2016,2016/2017

### III. Loading SPI Data to DataFrame

In [13]:
os.chdir('/home/tdraths/sb_assignments/Transfers_Capstone/data/original_data_sources')
spi_df = pd.read_csv('spi_matches.csv')
spi_df.head()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2016,2016-07-09,7921,FA Women's Super League,Liverpool Women,Reading,51.56,50.42,0.4389,0.2767,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,2016-07-10,7921,FA Women's Super League,Arsenal Women,Notts County Ladies,46.61,54.03,0.3572,0.3608,...,NaN,NaN,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,2016-07-10,7921,FA Women's Super League,Chelsea FC Women,Birmingham City,59.85,54.64,0.4799,0.2487,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,2016-07-16,7921,FA Women's Super League,Liverpool Women,Notts County Ladies,53.00,52.35,0.4289,0.2699,...,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,2016-07-17,7921,FA Women's Super League,Chelsea FC Women,Arsenal Women,59.43,60.99,0.4124,0.3157,...,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
spi_df.columns
# I am not concerned with the match-specific columns toward the last half of this list
# I will likely only keep columns from 'season' through 'spi2'

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [15]:
spi_df.dtypes

season           int64
date            object
league_id        int64
league          object
team1           object
team2           object
spi1           float64
spi2           float64
prob1          float64
prob2          float64
probtie        float64
proj_score1    float64
proj_score2    float64
importance1    float64
importance2    float64
score1         float64
score2         float64
xg1            float64
xg2            float64
nsxg1          float64
nsxg2          float64
adj_score1     float64
adj_score2     float64
dtype: object

In [16]:
spi_df.league.value_counts()

English League Championship                 2223
French Ligue 1                              1900
Spanish Primera Division                    1900
Italy Serie A                               1900
Barclays Premier League                     1900
Spanish Segunda Division                    1865
Italy Serie B                               1594
English League Two                          1554
German Bundesliga                           1530
French Ligue 2                              1520
Brasileiro Série A                          1520
English League One                          1514
United Soccer League                        1487
Major League Soccer                         1459
Turkish Turkcell Super Lig                  1338
Portuguese Liga                             1224
German 2. Bundesliga                        1224
Dutch Eredivisie                            1224
Argentina Primera Division                   979
Russian Premier Liga                         960
Norwegian Tippeligaen                        960
Swedish Allsvenskan                          960
Scottish Premiership                         852
Belgian Jupiler League                       816
Japanese J League                            759
Austrian T-Mobile Bundesliga                 702
Mexican Primera Division Torneo Apertura     672
Mexican Primera Division Torneo Clausura     654
Swiss Raiffeisen Super League                630
Danish SAS-Ligaen                            618
UEFA Europa League                           607
UEFA Champions League                        494
South African ABSA Premier League            480
Greek Super League                           480
FA Women's Super League                      469
National Women's Soccer League               450
Chinese Super League                         369
Australian A-League                          288
NWSL Challenge Cup                            23
Name: league, dtype: int64

In [17]:
# I'm only looking at the Premier League and English League Championship data for this project
ecl = spi_df[spi_df.league.eq('English League Championship')]
pl = spi_df[spi_df.league.eq('Barclays Premier League')]

english = pd.concat([ecl, pl])
display(english.head())
english.tail()

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
2992,2017,2017-08-04,2412,English League Championship,Sunderland,Derby County,50.39,40.83,0.5266,0.2184,...,NaN,NaN,1.0,1.0,2.24,1.23,1.92,1.38,1.05,1.05
2994,2017,2017-08-04,2412,English League Championship,Nottingham Forest,Millwall,35.55,28.23,0.5149,0.2186,...,NaN,NaN,1.0,0.0,0.45,3.49,1.26,2.73,1.05,0.00
3004,2017,2017-08-05,2412,English League Championship,Sheffield United,Brentford,27.72,39.70,0.3031,0.4486,...,NaN,NaN,1.0,0.0,0.72,1.84,0.97,1.43,1.05,0.00
3005,2017,2017-08-05,2412,English League Championship,Queens Park Rangers,Reading,36.33,34.90,0.4420,0.2823,...,NaN,NaN,2.0,0.0,2.15,0.29,1.27,0.51,2.10,0.00
3006,2017,2017-08-05,2412,English League Championship,Fulham,Norwich City,43.00,42.60,0.4434,0.3142,...,NaN,NaN,1.0,1.0,1.19,1.71,2.35,1.88,1.05,1.05

,season,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,...,importance1,importance2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
42041,2020,2021-05-23,2411,Barclays Premier League,Manchester City,Everton,94.16,75.80,0.7825,0.0736,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42042,2020,2021-05-23,2411,Barclays Premier League,Liverpool,Crystal Palace,91.38,69.71,0.7854,0.0661,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42043,2020,2021-05-23,2411,Barclays Premier League,Wolverhampton,Manchester United,78.46,85.38,0.3142,0.4122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42044,2020,2021-05-23,2411,Barclays Premier League,Arsenal,Brighton and Hove Albion,78.83,70.26,0.5391,0.2142,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42045,2020,2021-05-23,2411,Barclays Premier League,West Ham United,Southampton,69.01,70.94,0.4094,0.3385,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
display(english.league.value_counts())
english.season.value_counts()

English League Championship    2223
Barclays Premier League        1900
Name: league, dtype: int64

2019    937
2018    937
2017    937
2020    932
2016    380
Name: season, dtype: int64

In [19]:
english.columns

Index(['season', 'date', 'league_id', 'league', 'team1', 'team2', 'spi1',
       'spi2', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2',
       'importance1', 'importance2', 'score1', 'score2', 'xg1', 'xg2', 'nsxg1',
       'nsxg2', 'adj_score1', 'adj_score2'],
      dtype='object')

In [20]:
english_nulls = pd.DataFrame(english.isnull().sum().sort_values(ascending=False) / len(english), columns=['percent'])
eng_percent_null = english_nulls['percent'] > 0
english_nulls[eng_percent_null]

# High percentage of null values, but only in the columns that I am unlikely to need.

              percent
importance2  0.289595
importance1  0.289595
adj_score2   0.216832
nsxg2        0.216832
nsxg1        0.216832
xg2          0.216832
xg1          0.216832
adj_score1   0.216832
score2       0.215862
score1       0.215862

In [21]:
# Dropping the unnecessary columns. I'm only focused on the actual SPI ranking for clubs
# Match-specific data is not important for this analysis.
columns = ['importance2', 'importance1', 'adj_score2', 'nsxg2', 'nsxg1', 'xg2', 'xg1', 'adj_score1', 'score2', 'score1', 'prob1', 'prob2', 'probtie', 'proj_score1', 'proj_score2']
english.drop(columns, inplace=True, axis=1)

english.head()

,season,date,league_id,league,team1,team2,spi1,spi2
2992,2017,2017-08-04,2412,English League Championship,Sunderland,Derby County,50.39,40.83
2994,2017,2017-08-04,2412,English League Championship,Nottingham Forest,Millwall,35.55,28.23
3004,2017,2017-08-05,2412,English League Championship,Sheffield United,Brentford,27.72,39.70
3005,2017,2017-08-05,2412,English League Championship,Queens Park Rangers,Reading,36.33,34.90
3006,2017,2017-08-05,2412,English League Championship,Fulham,Norwich City,43.00,42.60

##### I now have two datafames, one that houses cleaned transfers data for seasons 2016-2020 for the Championship and the Premier League, and another that houses cleaned SPI data for all English League Championship and Premier League clubs

In [22]:
df.to_csv("/home/tdraths/sb_assignments/Transfers_Capstone/data/data_cleaning_outputs/all_transfers.csv")
english.to_csv("/home/tdraths/sb_assignments/Transfers_Capstone/data/data_cleaning_outputs/english_output.csv")

### IV. Organizing the dataframes and some initial analysis
* Organize df to show spending by club by year
* Organize english to show spi score by club
* Combine the new organized dataframes into one workable dataframe

In [23]:
# Organizing df so that I can see what clubs spent in total across each season
df_agg_clubs = df.groupby(['year', 'club_name'], as_index=False).sum().loc[:, ['year', 'club_name', 'fee_cleaned']]
df_agg_clubs.groupby(['club_name']).count()

# I have a decision to make - should I continue to include the clubs that not in either league for at least one of the seasons we are investigating?

                         year  fee_cleaned
club_name
AFC Bournemouth             5            5
Arsenal FC                  5            5
Aston Villa                 5            5
Barnsley FC                 4            4
Birmingham City             5            5
Blackburn Rovers            4            4
Bolton Wanderers            2            2
Brentford FC                5            5
Brighton & Hove Albion      5            5
Bristol City                5            5
Burnley FC                  5            5
Burton Albion               2            2
Cardiff City                5            5
Charlton Athletic           1            1
Chelsea FC                  5            5
Coventry City               1            1
Crystal Palace              5            5
Derby County                5            5
Everton FC                  5            5
Fulham FC                   5            5
Huddersfield Town           5            5
Hull City                   4            4
Ipswich Town                3            3
Leeds United                5            5
Leicester City              5            5
Liverpool FC                5            5
Luton Town                  2            2
Manchester City             5            5
Manchester United           5            5
Middlesbrough FC            5            5
Millwall FC                 4            4
Newcastle United            5            5
Norwich City                5            5
Nottingham Forest           5            5
Preston North End           5            5
Queens Park Rangers         5            5
Reading FC                  5            5
Rotherham United            3            3
Sheffield United            4            4
Sheffield Wednesday         5            5
Southampton FC              5            5
Stoke City                  5            5
Sunderland AFC              2            2
Swansea City                5            5
Tottenham Hotspur           5            5
Watford FC                  5            5
West Bromwich Albion        5            5
West Ham United             5            5
Wigan Athletic              3            3
Wolverhampton Wanderers     5            5
Wycombe Wanderers           1            1

In [24]:
# Creating a dataframe showing the SPI score for the home team during each season
spi_home = english.groupby(['season', 'team1'], as_index=False).mean().loc[:, ['season', 'team1', 'spi1']]
spi_home.columns = ['year', 'club_name', 'spi_home']
spi_home

     year             club_name   spi_home
0    2016       AFC Bournemouth  60.945789
1    2016               Arsenal  82.174211
2    2016               Burnley  57.487368
3    2016               Chelsea  84.546842
4    2016        Crystal Palace  58.646842
..    ...                   ...        ...
191  2020               Watford  64.058261
192  2020  West Bromwich Albion  58.420526
193  2020       West Ham United  69.082105
194  2020         Wolverhampton  78.464211
195  2020     Wycombe Wanderers  35.776957

[196 rows x 3 columns]

In [25]:
# Creating a dataframe showing the SPI score for the away team during each season
spi_away = english.groupby(['season', 'team2'], as_index=False).mean().loc[:, ['season', 'team2', 'spi2']]
spi_away.columns = ['year', 'club_name', 'spi_away']
spi_away

     year             club_name   spi_away
0    2016       AFC Bournemouth  60.804211
1    2016               Arsenal  81.785789
2    2016               Burnley  57.947895
3    2016               Chelsea  84.528421
4    2016        Crystal Palace  58.364737
..    ...                   ...        ...
191  2020               Watford  64.019130
192  2020  West Bromwich Albion  58.345263
193  2020       West Ham United  68.997368
194  2020         Wolverhampton  78.435789
195  2020     Wycombe Wanderers  35.756957

[196 rows x 3 columns]

In [34]:
# Merging home and away dataframes into one that shows SPI scores per club per season
spi_scores = spi_home.merge(spi_away, how='inner', on=['year', 'club_name'])
spi_scores.head(40)

    year                 club_name   spi_home   spi_away
0   2016           AFC Bournemouth  60.945789  60.804211
1   2016                   Arsenal  82.174211  81.785789
2   2016                   Burnley  57.487368  57.947895
3   2016                   Chelsea  84.546842  84.528421
4   2016            Crystal Palace  58.646842  58.364737
5   2016                   Everton  69.925789  70.190526
6   2016                 Hull City  47.560000  47.643684
7   2016            Leicester City  62.715789  62.918947
8   2016                 Liverpool  81.343684  80.923158
9   2016           Manchester City  86.021053  86.018947
10  2016         Manchester United  81.063684  80.985789
11  2016             Middlesbrough  52.787368  53.230526
12  2016               Southampton  68.128421  67.990526
13  2016                Stoke City  61.452105  61.326316
14  2016                Sunderland  49.510000  49.301053
15  2016              Swansea City  57.245263  57.192105
16  2016         Tottenham Hotspur  79.028947  79.367895
17  2016                   Watford  59.052632  58.881053
18  2016      West Bromwich Albion  60.148421  59.761053
19  2016           West Ham United  61.657895  61.418421
20  2017           AFC Bournemouth  56.136842  56.142105
21  2017                   Arsenal  80.266842  80.718421
22  2017               Aston Villa  46.143200  45.771667
23  2017                  Barnsley  30.049130  29.869130
24  2017                Birmingham  30.052174  30.239565
25  2017                    Bolton  28.595652  28.520000
26  2017                 Brentford  42.399565  42.500000
27  2017  Brighton and Hove Albion  51.208947  51.027368
28  2017              Bristol City  39.476087  39.340870
29  2017                   Burnley  60.564211  60.332105
30  2017             Burton Albion  25.943913  25.626957
31  2017              Cardiff City  46.901739  46.520435
32  2017                   Chelsea  82.658421  82.363684
33  2017            Crystal Palace  60.082632  59.823684
34  2017              Derby County  43.157083  43.056250
35  2017                   Everton  60.066316  60.378421
36  2017                    Fulham  45.690417  45.643200
37  2017         Huddersfield Town  47.467895  47.195263
38  2017                 Hull City  40.806522  41.027826
39  2017              Ipswich Town  33.409130  33.265217

In [33]:
# Merging df_agg_clubs and spi_scores to get one workable dataframe
avg_spend_spi = df_agg_clubs.merge(spi_scores, how='outer', on=['club_name', 'year'])
avg_spend_spi.head(50)

    year                club_name  fee_cleaned   spi_home   spi_away
0   2016          AFC Bournemouth      119.134  60.945789  60.804211
1   2016               Arsenal FC      222.112        NaN        NaN
2   2016              Aston Villa      236.710        NaN        NaN
3   2016              Barnsley FC       28.828        NaN        NaN
4   2016          Birmingham City       18.524        NaN        NaN
5   2016         Blackburn Rovers       23.860        NaN        NaN
6   2016             Brentford FC       35.190        NaN        NaN
7   2016   Brighton & Hove Albion       15.760        NaN        NaN
8   2016             Bristol City       48.106        NaN        NaN
9   2016               Burnley FC       84.240        NaN        NaN
10  2016            Burton Albion        0.644        NaN        NaN
11  2016             Cardiff City       20.304        NaN        NaN
12  2016               Chelsea FC      434.160        NaN        NaN
13  2016           Crystal Palace      272.700  58.646842  58.364737
14  2016             Derby County       60.346        NaN        NaN
15  2016               Everton FC      264.060        NaN        NaN
16  2016                Fulham FC       88.804        NaN        NaN
17  2016        Huddersfield Town       10.630        NaN        NaN
18  2016                Hull City      124.020  47.560000  47.643684
19  2016             Ipswich Town        9.534        NaN        NaN
20  2016             Leeds United       29.098        NaN        NaN
21  2016           Leicester City      283.780  62.715789  62.918947
22  2016             Liverpool FC      297.504        NaN        NaN
23  2016          Manchester City      447.940  86.021053  86.018947
24  2016        Manchester United      417.880  81.063684  80.985789
25  2016         Middlesbrough FC      110.620        NaN        NaN
26  2016         Newcastle United      296.348        NaN        NaN
27  2016             Norwich City      113.680        NaN        NaN
28  2016        Nottingham Forest       41.504        NaN        NaN
29  2016        Preston North End        3.660        NaN        NaN
30  2016      Queens Park Rangers       53.570        NaN        NaN
31  2016               Reading FC       26.714        NaN        NaN
32  2016         Rotherham United        2.566        NaN        NaN
33  2016      Sheffield Wednesday       19.612        NaN        NaN
34  2016           Southampton FC      277.120        NaN        NaN
35  2016               Stoke City       76.232  61.452105  61.326316
36  2016           Sunderland AFC      118.240        NaN        NaN
37  2016             Swansea City      192.240  57.245263  57.192105
38  2016        Tottenham Hotspur      244.620  79.028947  79.367895
39  2016               Watford FC      230.510        NaN        NaN
40  2016     West Bromwich Albion      116.776  60.148421  59.761053
41  2016          West Ham United      224.100  61.657895  61.418421
42  2016           Wigan Athletic       18.334        NaN        NaN
43  2016  Wolverhampton Wanderers       70.362        NaN        NaN
44  2017          AFC Bournemouth       61.740  56.136842  56.142105
45  2017               Arsenal FC      556.300        NaN        NaN
46  2017              Aston Villa       37.140  46.143200  45.771667
47  2017              Barnsley FC       20.126        NaN        NaN
48  2017          Birmingham City       40.260        NaN        NaN
49  2017         Bolton Wanderers       12.394        NaN        NaN

## TO BE FIXED
* Club name issues - some of the clubs are listed as "FC" in one data set, and not in another

### STILL TO INVESTIGATE
* Total spend per year with changes in spi by year
* Total spend across years with total chain in spi
* Club results, e.g. promotion
* Look at clubs that were promoted into and relegated from PL as a subset